* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

header {
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-bottom: 40px;
}

.container {
  margin-bottom: 20px;
}

section > .row {
  width: 60%;
  margin: auto;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.tile {
  float: left;
  width: 25%;
  padding: 0 10px;
  text-align: center;
  position: relative;
}

.pattern {
  height: 200px;
  background-image: url('./img/pattern.png');
  background-size: contain;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}

footer {
  text-align: center;
  margin-bottom: 20px;
}

.bg-white {
  height: 200px;
  border-radius: 10px;
  background-color: white;
  color: #E61986;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
 }

.picture img {
  height: 150px;
  padding-top: 10px;
}

.start-picture {
  background-image: url('./img/noun_Tram_3134750.png');
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.tile h2 {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 20px);
}

.pattern .picture {
  display: none;
}

.pattern:hover {
  background: #fff;
}

.pattern:hover .picture {
  display: block;
  color: #E67919;
}
