* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

header {
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-bottom: 40px;
}

.container {
  width: 860px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}

.tile {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  background-image: url('./img/pattern.png');
  background-size: contain;
  text-align: center;
}

.tile.two {
  top:0;
  left: 220px;
}

.tile.three {
  top:0;
  left: 440px;
}

.tile.four {
  top: 0;
  right:0;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}

img {
  height: 150px;
  position: relative;
  top: 10px;
}

.start-picture {
  display: block;
  height: 100%;
  background: #fff;
  color: #E61986;
  border-radius: 10px;
}

.picture {
  display: none;
}

.tile:hover {
  background: #fff;
}

.tile:hover .picture {
  display: block;
  color: #E67919;
}
